.header {
    background: var(--corporate-color-blue);
}
.header-img {
    max-height: 65px;
}

.brand-logo {
    margin-left: -1rem;
}

span {
    color: var(--corporate-color-white);
    font-size: 2rem;
}