<div class="row header align-items-center">
    <div class="col-auto">
        <img class="header-img brand-logo" src="assets/images/banner.png" alt="Bannière Naval Group">
    </div>
    <div class="col text-center">
        <h2 class="text-light m-0">FRONT-END PIONEERS' CHALLENGE 2023</h2>
    </div>
    <div class="col-auto text-end">
        <img class="header-img"  src="assets/images/NAVAL_GROUP_Logotype/NAVAL_GROUP_Logotype_RR/NAVAL_GROUP_Logotype_RR.png" alt="Logo Naval Group">
    </div>
</div>