<div class="row align-items-center">
    <div class="col-4">
        <div class="row align-items-center">
            <div class="col-auto">
                <h5>Equipe</h5>
            </div>
            <div class="col-auto">
                <div class="logo">
                    <img src="assets/images/RICHE_LIEUX_Logo_Font.png" alt="Riche Lieux" width="128">
                </div>
            </div>
            <div class="col-auto">
                <span>Riche Lieux</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row align-items-center">
            <div class="col-6">
                <span>
                    <b>Développeurs :</b>
                </span>
            </div>
            <div class="col-6">
                <ul class="list-unstyled m-auto">
                    <li>Angelo Tremoureux</li>
                    <li>Louis Seignobos</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 text-end">
        <span class="mx-2">Projet version <b>{{ version }}</b></span>
    </div>
</div>